/* #work {
  margin: 0 auto;
  max-height: calc(100vw - 4rem);
  width: 100vw;
  max-width: 80rem;
  text-align: center;
  padding: 0 1rem;
} */

#work {
  margin: 0 auto;
  max-width: 80rem;
  width: 90%;
  text-align: center;
  padding: 0 1rem;
}

/* work.css */
.workImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.workImg {
  width: 20rem;
  height: auto;
  margin: 0;
  /* border-radius: 1rem; */
}

.workTitle {
  margin: 1rem 0;
  font-size: 3rem;
}
.workItem p:nth-child(1) {
  font-size: 0.7rem;
  color: white;
}

.workDesc {
  font-weight: 300;
  font-size: 10px;
  /* max-width: 45rem; */
}

.workBtn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 2rem;
  background: white;
  font-size: 1rem;
}

.descriptionBox {
  background-color: rgb(40, 40, 40);
  padding: 10px;
  text-align: center;
  margin: 0;
  color: white;
  width: 20rem; /* Set the width to match the image width */
}

@media screen and (max-width: 791px) {
  .workImg {
    width: 100%; /* Adjust this width as needed for proper alignment */
    height: auto; /* Let the height adjust automatically */
    margin: 0; /* Add margin for spacing between images */
  }
  .descriptionBox {
    width: 100%; /* Set the width to match the image width */
    margin: 0; /* Add margin only on top and bottom to separate the description boxes */
  }

  .workImgs {
    flex-direction: row; /* Change flex-direction to row to display 2 by 2 grid */
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .workItem {
    width: calc(
      45% - 10px
    ); /* Adjust the width to fit 2 items in a row with spacing */
    align-items: center;
    text-align: center;
  }
}
